* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #1f2933;
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #111827;
}

.navbar a {
  color: #cbd5e1;
  margin-left: 20px;
  text-decoration: none;
}

.navbar a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 80px 50px;
}

.hero-img {
  width: 280px;
  border-radius: 10px;
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text h3 {
  color: #38bdf8;
  margin-bottom: 20px;
}

.socials a {
  margin-right: 15px;
  color: #cbd5e1;
}

/* BUTTON */
.btn {
  display: inline-block;
  background: #2563eb;
  padding: 10px 18px;
  margin-top: 15px;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

.btn.secondary {
  background: #374151;
}

/* SECTIONS */
.section {
  padding: 70px 50px;
  text-align: center;
}

.light {
  background: #f1f5f9;
  color: #111;
}

.dark {
  background: #1f2933;
}

/* SKILLS */
.skills span {
  background: #374151;
  padding: 10px 16px;
  margin: 8px;
  display: inline-block;
  border-radius: 8px;
}

/* PROJECTS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.card {
  background: #111827;
  padding: 20px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 6px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

/* CERTS */
.certs img {
  width: 260px;
  margin: 15px;
  border-radius: 6px;
}

/* CONTACT */
.contact-form {
  max-width: 500px;
  margin: auto;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111827;
  color: #9ca3af;
}
